
header {
background:#ffffff;
margin:0px;
padding:10px;
height:75px;
width:100%;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #777777;
  background: lightgrey;
  padding: 0px;
  margin: 0px;

}

ul {
  /* position: relative; */
  list-style-type: none;
  font-size: 20px;
  text-align: right;
  float: right;
}

p {
  /* position: relative; */
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  padding: 15px;
  margin-left: 10px;
  float: right;
}

h1{
left:50px;
margin:30px;
background-color:#4aaaa5;
width:200px;
height:98px;
line-height:90px;
color:#ffffff;
font-size:28px;
text-align:center;
bottom:514px;
position: absolute
}

h2{
  /* position: relative; */
  bottom: 400px;
  text-align: center;
  width: 200px;
  height: 40px;
  position: absolute;

}

h2.contactinfo{

margin-bottom: 60px;

}

img {
  /* position: absolute; */
  border: 1px solid grey;
  bottom: 0px;
  right: 950px;
  width: 200px;
  margin: 15px;
  position: absolute;
  top: 200px;
}

input.Name{

margin: 10px;

}

input.Email{


  margin: 10px;
  
}

input.Message{

  margin: 10px;
  width: 200px;
  height: 100px;
}

footer{
  margin: 0px;
  padding: 10px;
  background: #666666;
  height:75px;
  width: 100%;
}

a{
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  display:inline-block;
  color:#777777; 
  margin-top:25px;
  width: auto;
  margin-right: 60px;
}
form{
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  height: 90px;
  width:500px;
  position: absolute;
  top: 170px;
  margin: 10px;

}

.Maincontent{
  /* position: relative; */
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  padding: 50px;
  margin: 50px;
  margin-left: 150px;
  background-color: white;
  height: 250px;
  width: 960px;
  left: 100px;
}

.Maincontent2{
  /* position: relative; */
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  padding: 50px;
  margin: 50px;
  margin-left: 150px;
  background-color: white;
  height: 250px;
  width: 960px;
  left: 100px;
}

.Maincontent3{
  /* position: relative; */
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  padding: 50px;
  margin: 50px;
  margin-left: 400px;
  background-color: white;
  height: 450px;
  width: 540px;

}

.MyTitle{
  margin-bottom: 100px
}

img.img1{

  position: absolute;
  right: 650px;
}

img.img2{

  position: absolute;
  top: 350px;
  right: 650px;
}

img.img3{

  position: absolute;
  top: 350px;
  right: 350px;

}

img.img4{

  position: absolute;
  top: 500px;
  right: 650px;
}

img.img5{

  position: absolute;
  right: 350px;

}

div.text-block1{

  position: absolute;
  background-color: #4aaaa5;
  height: 60px;
  width: 200px;
  top: 300px;
  right: 665px;
  border: 1px solid grey;
  font-size: 15px;

}

div.text-block2{

  position: absolute;
  background-color: #4aaaa5;
  height: 60px;
  width: 200px;
  top: 450px;
  right: 665px;
  border: 1px solid grey;
  font-size: 15px;

}

div.text-block3{

  position: absolute;
  background-color: #4aaaa5;
  height: 60px;
  width: 200px;
  top: 600px;
  right: 665px;
  border: 1px solid grey;
  font-size: 15px;

}
div.text-block4{

  position: absolute;
  background-color: #4aaaa5;
  height: 60px;
  width: 200px;
  top: 300px;
  right: 365px;
  border: 1px solid grey;
  font-size: 15px;

}

div.text-block5{

  position: absolute;
  background-color: #4aaaa5;
  height: 60px;
  width: 200px;
  top: 450px;
  right: 365px;
  border: 1px solid grey;
  font-size: 15px;

}