
body {
  font-family: 'Times New Roman', Times, serif;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
  background: lightgrey;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  float: right;
}
li {
  display: inline;
}

p {
  font-family: 'Times New Roman', Times, serif;
  padding: 15px;
  margin-left: 15px;

}

header {
  margin: 10px;
  padding: 10px;
  background: rgb(218, 44, 44);
  height:75px;
  
}

div{
  padding: 50px;
  margin: 50px;
  background-color: grey;
  height: 250px;
  width: fit-content;
}

img {
  border: 1px solid rgb(218, 44, 44);
  height: 250px;
  width: 200px;
  float: left;
}

.links{

font-size: 15px;
padding: 5px;
margin-left: 10px;

}

footer{
  margin: 10px;
  padding: 10px;
  background: rgb(218, 44, 44);
  height:75px;
  width: inherit;
  float: center;
}